<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label>fullname</label>
        <input type="text" name="fullname" id="fullname"><br>
        <label>Student Reg Number</label>
        <input type="text" name="RegNo" id="fullname"><br>
        <label>Id Number</label>
        <input type="text" name="ID_No" id="fullname"><br>
        <label>Email</label>
        <input type="text" name="Email" id="fullname"><br>
        <label>Gender</label>
        <input type="text" name="Gender" id="fullname"><br>
        <label>Programme</label>
        <input type="text" name="Programme" id="fullname"><br>
        <label>Level</label>
        <input type="text" name="Level" id="fullname"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>