<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code Scanner</title>
  <style>
    main{
      display:flex;
      justify-content: center;
      align-items: center;
    }

    #reader{
      width:600px
    }

    #result{
      text-align: center;
      font-size: 1.5rem;
    }
  </style>
</head>
<body>
  <main>
<form method="post" action="/scanner">
  <div style="width: 500px" id="reader"></div>
  <div id="result"></div>
<input type="submit" value="submit">
</form>
   
  </main>
  
  <script src="https://cdn.jsdelivr.net/npm/html5-qrcode/html5-qrcode.min.js"></script>
  <script>


  var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 45, qrbox: {width:350 ,height:300}});


  html5QrcodeScanner.render(Success, Error);

  function Success(result) {
    const parsedData=JSON.parse(result)

    document.getElementById('result').innerHTML=`
      <h1>Scanned item</h1>
      <p>${parsedData.Visitor_name}</p>`;
  }

 

  function onScanError(errorMessage) {
    console.error("Error:", errorMessage);
  }


  </script>
</body>
</html>